In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [ ]:
#The churn rate, also known as the rate of attrition or customer churn, is the rate at which customers stop doing business with an entity. 
#It is most commonly expressed as the percentage of service subscribers who discontinue their subscriptions within a given time period.

In [2]:
churnData = pd.read_csv('Customer-Churn.csv')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [ ]:
#Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. 
#Convert this column into numeric type using pd.to_numeric function.

In [3]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [4]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'],errors='coerce')

In [5]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [6]:
churnData.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [7]:
churnData['TotalCharges']=churnData['TotalCharges'].fillna(np.mean(churnData['TotalCharges']))

In [8]:
churnData['TotalCharges'].dtypes

dtype('float64')

In [9]:
churnData.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
churnData_num = churnData.select_dtypes(include = np.number)
churnData_cat = churnData.select_dtypes(include = np.object)

<ipython-input-10-b654e3b2a25b>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  churnData_cat = churnData.select_dtypes(include = np.object)

In [ ]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
#Scale the features either by using normalizer or a standard scaler.

In [12]:
from sklearn.preprocessing import MinMaxScaler

MinMaxtransformer = MinMaxScaler().fit(churnData_num)
x_normalized = MinMaxtransformer.transform(churnData_num)
print(x_normalized.shape)
x_normalized = pd.DataFrame(x_normalized,columns=churnData_num.columns)
x_normalized.head()

(7043, 4)

   SeniorCitizen    tenure  MonthlyCharges  TotalCharges
0            0.0  0.013889        0.115423      0.001275
1            0.0  0.472222        0.385075      0.215867
2            0.0  0.027778        0.354229      0.010310
3            0.0  0.625000        0.239303      0.210241
4            0.0  0.027778        0.521891      0.015330

In [16]:
X =  churnData_num
y =  churnData['Churn']

In [ ]:
#Split the data into a training set and a test set.

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [ ]:
#Fit a logistic regression model on the training data.

In [25]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_train, y_train)

In [26]:
classification = LogisticRegression(random_state=0, solver='saga',
                  multi_class='multinomial').fit(X_train, y_train)

C:\Users\lydia\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [27]:
predictions = classification.predict(X_test)
classification.score(X_test, y_test)

0.7700496806245565

In [ ]:
#the score is above 70% (we are right in 70% of the cases in predicting if a person will stop his or her subscription or not)

In [ ]:
#Check for the imbalance.

In [59]:
train = pd.concat([X_train, y_train],axis=1)
train.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges Churn
5066              0      44           54.30       2390.45    No
390               0      27           95.60       2595.25    No
1007              0       2           68.95        119.75   Yes
5087              0       2           20.35         41.85    No
2939              1      12           83.80       1029.75   Yes

In [36]:
churnData['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [ ]:
#Downsampling

In [67]:
from sklearn.utils import resample

category_0 = churnData[churnData['Churn'] == 0] 
category_1 = churnData[churnData['Churn'] == 1]

In [68]:
from sklearn.utils import resample

In [69]:
category_0_undersampled = resample(category_0, 
                                   replace=False, 
                                   n_samples = len(category_1))

In [70]:
print(category_0_undersampled.shape)
print(category_1.shape)

(0, 16)
(0, 16)

In [38]:
data_downsampled = pd.concat([category_0_undersampled, category_1], axis=0)

In [47]:
data_downsampled['Churn'].value_counts()

Series([], Name: Churn, dtype: int64)

In [ ]:
#Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.

In [ ]:
#Upsampling

In [48]:
category_1_oversampled = resample(category_1, 
                                  replace=True, 
                                  n_samples = len(category_0))

In [49]:
print(category_0.shape)
print(category_1_oversampled.shape)

(0, 16)
(0, 16)

In [50]:
data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

In [51]:
data_upsampled['Churn'].value_counts()

Series([], Name: Churn, dtype: int64)